@import "tailwindcss";

@theme {
  --color-bg-primary: #121212;
  --color-bg-secondary: #181818;
  --color-text-primary: #e0e0e0;
  --color-text-secondary: #a8a8a8;
  --color-accent: #c6ff00;
  --color-link: #4fc3f7;
}

@layer base {
  body {
    @apply bg-bg-primary;
  }

  h1 {
    @apply text-text-primary font-bold text-3xl;
  }

  p {
    @apply text-text-secondary;
  }
}

@layer components {
  .input {
    @apply p-3 bg-bg-secondary text-text-secondary w-full rounded-lg placeholder:text-text-secondary;
  }
}
